.AboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 75px;
  padding: 7vh 5%;
  width: 100%;
}

.AboutWrapper h1 {
  color: #ae59ff;
  font-size: 35px;
}

.AboutWrapperContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  max-width: 1200px;
  width: 100%;
}

.AboutWrapperContent img {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.AboutWrapperContent p {
  font-size: 20px;
  color: rgb(66, 66, 66);
  text-align: left;
  flex-grow: 1;
  gap: 85px;
  padding: 5vh 5%;
}

@media screen and (max-width: 950px) {
  .AboutWrapperContent p {
    font-size: 17px;
  }

  .AboutWrapperContent img {
    max-width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .AboutWrapper {
    gap: 15px;
    padding: 3vh 5%;
  }

  .AboutWrapper h1 {
    font-size: 2rem;
  }

  .AboutWrapperContent {
    flex-direction: column;
    align-items: center;
  }

  .AboutWrapperContent p {
    font-size: .8rem;
  }

  .AboutWrapperContent img {
    max-width: 100%;
    margin-bottom: 15px;
  }
}
