.HomeWrapper {
  height: fit-content; /* Fit content height */
  min-height: 100vh; /* Minimum height of 100vh */
  width: 100%; /* Full width */
  background: linear-gradient(180deg, #c18bf5 0%, #fff 68.23%); /* Gradient background */
  display: flex; /* Flex container */
  flex-direction: column; /* Column layout */
  align-items: center; /* Center align items */
  justify-content: space-between; /* Space between items */
  position: relative; /* Relative positioning */
  gap: 3vh; /* Gap between elements */
  overflow: hidden; /* Hide overflow */
}

.HomeWrapper img {
  width: 100%; /* Full width for images */
  object-fit: cover; /* Maintain aspect ratio */
}

.contentWraper {
  display: flex; /* Flex container */
  flex-direction: column; /* Column layout */
  align-items: center; /* Center align items */
  margin-top: 20vh; /* Margin top */
  position: relative; /* Relative positioning */
  z-index: 9900; /* Layering */
}

.contentWraper h1 {
  margin: 0; /* Remove default margin */
  line-height: 1; /* Line height */
  font-size: 6vw; /* Adjusted font size */
  font-weight: 600; /* Font weight */
}

.contentWraper h2 {
  margin: 0; /* Remove default margin */
  line-height: 1; /* Line height */
  font-size: 8vw; /* Adjusted font size */
  font-weight: 700; /* Font weight */
  margin-top: -3vw; /* Negative margin */
  color: #ae59ff; /* Header color */
}

.contentWraper p {
  font-size: 1.2vw; /* Adjusted font size */
  width: 30vw; /* Width for paragraphs */
  text-align: center; /* Center align text */
}

@media screen and (max-width: 900px) {
  .HomeWrapper {
      overflow: hidden; /* Hide overflow */
  }

  .HomeWrapper img {
      width: 900px; /* Set a specific width for images */
  }

  .contentWraper {
      margin-top: 16vh; /* Adjust margin for content wrapper */
  }

  .contentWraper h1 {
      font-size: 8vw; /* Adjust font size for h1 */
  }

  .contentWraper h2 {
      font-size: 13vw; /* Adjust font size for h2 */
      margin-top: -4vw; /* Negative margin */
  }

  .contentWraper p {
      font-size: 2vw; /* Adjust font size for paragraph */
      width: 40vw; /* Adjust width for paragraphs */
  }
}

@media screen and (max-width: 700px) {
  .contentWraper {
      margin-top: 20vh; /* Maintain margin for smaller screens */
  }

  .contentWraper h1 {
      font-size: 9vw; /* Further adjust h1 size */
  }

  .contentWraper h2 {
      font-size: 15vw; /* Adjust h2 size */
      margin-top: -4vw; /* Negative margin */
  }

  .contentWraper p {
      font-size: 3vw; /* Further adjust paragraph size */
  }
}

@media screen and (max-width: 500px) {
  .contentWraper h1 {
      font-size: 9.5vw; /* Adjust h1 size */
  }

  .contentWraper h2 {
      font-size: 17vw; /* Adjust h2 size */
      margin-top: -4vw; /* Negative margin */
  }

  .contentWraper p {
      font-size: 3vw; /* Adjust paragraph size */
  }
}

/* Positioning for decorative elements */
.start1 {
  position: absolute; /* Absolute positioning */
  z-index: 7000; /* Layering */
  left: 15%; /* Positioning from left */
  top: 25%; /* Positioning from top */
}

.start2 {
  position: absolute; /* Absolute positioning */
  z-index: 7000; /* Layering */
  right: 10%; /* Positioning from right */
  top: 30%; /* Positioning from top */
}

.start3 {
  position: absolute; /* Absolute positioning */
  z-index: 7000; /* Layering */
  left: 27%; /* Positioning from left */
  top: 12%; /* Positioning from top */
}

.start4 {
  position: absolute; /* Absolute positioning */
  z-index: 7000; /* Layering */
  right: 27%; /* Positioning from right */
  top: 28%; /* Positioning from top */
}

.start5 {
  position: absolute; /* Absolute positioning */
  z-index: 0; /* Layering */
  right: 45%; /* Positioning from right */
  top: 8%; /* Positioning from top */
}

.start6 {
  position: absolute; /* Absolute positioning */
  z-index: 0; /* Layering */
  left: -5%; /* Positioning from left */
  top: 30%; /* Positioning from top */
}

.start7 {
  position: absolute; /* Absolute positioning */
  z-index: 0; /* Layering */
  right: -5%; /* Positioning from right */
  top: 30%; /* Positioning from top */
}

.start8 {
  position: absolute; /* Absolute positioning */
  z-index: 0; /* Layering */
  right: 14%; /* Positioning from right */
  top: 15%; /* Positioning from top */
}

/* Adjust positions for laptops */
@media screen and (max-width: 900px) {
  .start1 {
      left: 17%; /* Adjust position */
      top: 30%; /* Adjust position */
  }

  .start2 {
      right: 10%; /* Adjust position */
      top: 30%; /* Adjust position */
  }

  .start3 {
      left: 27%; /* Adjust position */
      top: 12%; /* Adjust position */
  }

  .start4 {
      right: 18%; /* Adjust position */
      top: 26%; /* Adjust position */
  }

  .start5 {
      right: 48%; /* Adjust position */
      top: 13%; /* Adjust position */
  }

  .start6 {
      left: -4%; /* Adjust position */
      top: 40%; /* Adjust position */
  }

  .start7 {
      right: -5%; /* Adjust position */
      top: 30%; /* Adjust position */
  }

  .start8 {
      right: 7%; /* Adjust position */
      top: 17%; /* Adjust position */
  }
}

@media screen and (max-width: 700px) {
  .start1 {
      left: 13%; /* Adjust position */
      top: 30%; /* Adjust position */
  }

  .start2 {
      right: 10%; /* Adjust position */
      top: 35%; /* Adjust position */
  }

  .start3 {
      left: 27%; /* Adjust position */
      top: 15%; /* Adjust position */
  }

  .start4 {
      right: 14%; /* Adjust position */
      top: 30%; /* Adjust position */
  }

  .start5 {
      right: 48.5%; /* Adjust position */
      top: 15%; /* Adjust position */
  }
}
